.idea/.idea.Cinematography/.idea/shelf/Uncommitted_changes_before_rebase_[Revert__Imported_course_assets_]1/shelved.patch filter=lfs diff=lfs merge=lfs -text
Assets/The[[:space:]]Great[[:space:]]Fleece/Game/_Scenes/Learning/Environment_Finished/LightingData.asset filter=lfs diff=lfs merge=lfs -text
